" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

set relativenumber
set ideajoin
set ideamarks
set idearefactormode=all
set surround
set commentary
set multiple-cursors
set clipboard=unnamedplus
set handler=both
set incsearch
map Q gq

let mapleader=" "

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

map gd <Action>(GotoDeclaration)
map gt <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)
map gu <Action>(ShowUsages)

map <leader>h <Action>(QuickJavaDoc)
map <leader>he <Action>(ShowErrorDescription)

map <leader>ca <Action>(ShowIntentionActions)

map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

map gb <Action>(Back)

map fmt <Action>(ReformatCode)
